---
interface Props {
  text: string;
  icon?: string;
  variant: string;
  href?: string;
  type: any;
  buttonId?: string;
}

const { text, icon, variant, href, type, buttonId } = Astro.props;
---

<button
  type={type}
  class={variant}
  data-link={href && href}
  data-button-id={buttonId && buttonId}
  id={buttonId && buttonId}
>
  <p id=`text-${buttonId}`>{text}</p>
  {icon && <div class="icon" id={icon} />}
</button>

<script>
  const buttons = document.querySelectorAll(".link");
  buttons.forEach((button) => {
    const href = button.getAttribute("data-link");
    button.addEventListener("click", () => (window.location.href = `${href}`));
  });
</script>

<style>
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 31px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .fullWidth {
    width: 100%;
    flex-grow: 1;
  }

  p {
    padding-top: 3px;
    font-size: var(--fs-m);
    font-family: var(--main-font);
  }
  .red {
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    > #trashcan {
      background-image: url(/assets/trashcan-white.svg);
    }
    > #log-out {
      background-image: url(/assets/log-out-white.svg);
      width: 13px;
      height: 13px;
      margin-left: 0.5rem;
    }
  }
  .red:hover {
    color: var(--primary-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--primary-color);
    > #trashcan {
      background-image: url(/assets/trashcan-red.svg);
    }
    > #log-out {
      background-image: url(/assets/log-out-red.svg);
    }
  }
  .green {
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    > #plus {
      background-image: url(/assets/plus-icon-white.svg);
    }
    > #edit {
      background-image: url(/assets/edit-white.svg);
      margin-left: 0.5rem;
      width: 13px;
      height: 13px;
    }
  }
  .green:hover {
    color: var(--secondary-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-color);
    > #play {
      background-image: url(/assets/play-icon-green.svg);
    }
    > #plus {
      background-image: url(/assets/plus-icon-green.svg);
    }
    > #edit {
      background-image: url(/assets/edit-green.svg);
      width: 13px;
    }
  }

  .disabled-green {
    color: var(--secondary-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-color);
    cursor: auto;
  }
  .invertedGreen {
    color: var(--secondary-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-color);
    > #bookmark {
      background-image: url(/assets/bookmark-green.svg);
      width: 13px;
    }
    > #edit {
      background-image: url(/assets/pen.svg);
      margin-left: 0.5rem;
      width: 13px;
      height: 13px;
    }
  }
  .invertedGreen:hover {
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    > #bookmark {
      background-image: url(/assets/bookmark.svg);
      width: 18px;
    }
    > #edit {
      background-image: url(/assets/edit-white.svg);
      margin-left: 0.5rem;
      width: 13px;
      height: 13px;
    }
  }
  #play {
    background-image: url(/assets/play-icon-white.svg);
  }

  .icon {
    width: 17px;
    height: 17px;
    background-size: contain;
  }

  h1,
  p {
    font-family: var(--main-font);
  }

  .x-small {
    width: 60px;
    height: 20px;
    border-radius: 5px;
    padding: 6px 5px;
    > .icon {
      width: 12px;
      height: 12px;
    }
    > p {
      font-size: var(--fs-s);
    }
  }
  .small {
    height: 33px;
    > p {
      padding-top: 6px;
      font-size: 20px;
    }
  }
  .medium {
    height: 44px;
    > p {
      padding-top: 10px;
      font-size: var(--fs-ml);
    }
  }
  .large {
    height: 50px;
    > p {
      padding-top: 10px;
      font-size: var(--fs-xl);
    }
  }
  .exerciseButton {
    max-width: 93.35px;
  }
</style>
