---
import RepititionButton from "./RepititionButton.astro";
import Button from "./Button.astro";

interface Props {
  title: string;
  description?: string;
  note?: string;
  image: string;
  variant?: string;
  cardId?: string;
  imageNumber?: string;
}

const { title, description, note, image, variant, cardId, imageNumber } =
  Astro.props;
---

<article class={variant}>
  <img src=`${image}` alt=`${title} image` />
  <div class="text-container">
    <h3>{title}</h3>
    <h3 class="note">{note && `(${note})`}</h3>
    <p>{description}</p>
    <div>
      <RepititionButton
        cardId={cardId}
        variant="repitition-button normal-card"
      />
      <Button
        type="button"
        text="Tilføj"
        variant="exerciseButton green"
        icon="plus"
        buttonId={imageNumber}
      />
    </div>
  </div>
</article>

<style>
  article {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 421px;
    height: 178px;
    padding: 11px 12px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
  }

  img {
    width: 153px;
    height: 153px;
    object-fit: contain;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
    }
  }
  h3 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: var(--fs-ml);
  }
  .note {
    margin-bottom: 0;
    font-size: var(--fs-s);
  }

  p {
    font-weight: var(--fw-t);
    font-size: var(--fs-m);
  }
  h3,
  p {
    font-family: var(--main-font);
  }

  .remove {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 93px;
    padding: 6px;

    > img {
      width: 80px;
      height: 80px;
    }
    > div {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      padding: 2px 3px;
      > h3 {
        font-size: var(--fs-medium-card);
        margin-bottom: 0;
      }
      > h2 {
        margin-top: 8px;
        margin-bottom: 0;
        font-family: var(--main-font);
        font-size: var(--fs-xs);
      }
      > p {
        font-size: 12px;
        font-weight: var(--fw-t);
        margin: 2px 0;
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
      }
    }
  }
</style>
