---
import ExerciseCard from "./ExerciseCard.astro";

interface Props {
  headline: string;
  description: string;
  dataFilter: any;
  divider?: boolean;
}

const { headline, description, dataFilter, divider = true } = Astro.props;
---

<div>
  <h2>{headline}</h2>
  <p>{description}</p>
  <div class="grid">
    {
      dataFilter.map((exercise) => (
        <ExerciseCard
          cardId={`normal-${exercise.id}`}
          title={exercise.title}
          note={exercise.note && exercise.note}
          image={`../assets/images/${exercise.image}.webp`}
          imageNumber={exercise.image}
        />
      ))
    }
  </div>
  {divider && <div class="section-divider" />}
</div>

<style>
  /* --- Når iPad'en er i portræt / vertikal orientation --- */
  @media (min-width: 768px), (min-width: 1024px) and (orientation: portrait) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
  @media (min-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  /* --- Når iPad'en er i landscape / horisontal orientation --- */
  @media (min-width: 1024px) and (orientation: landscape) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
  @media (min-width: 1280px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      gap: 10px;
    }
  }

  h2 {
    font-size: var(--fs-l);
    font-family: var(--main-font);
    font-weight: var(--fw-b);
    margin-bottom: 6px;
  }
  p {
    margin: 0 0 21px 5px;
    font-size: var(--fs-m);
    font-family: var(--main-font);
    font-weight: var(--fw-n);
  }
  div:has(h2) {
    margin-left: 420px;
  }
  .section-divider {
    width: 95%;
    margin: 20px auto;
    border-bottom: 3px solid var(--alternative-bg-color);
  }
</style>
