---
interface Props {
  label: string;
  id: string;
  type: any;
  pattern?: string;
  title?: string;
  required: boolean;
  variant?: string;
}

const { label, id, type, variant, required = false } = Astro.props;
---

<label for={id}>{label}</label>
<input class={variant && variant} id={id} name={id} type={type} required />

<style>
  input:focus {
    outline: none;
  }
  input {
    height: 40px;
    background: var(--alternative-bg-color);
    margin-bottom: 29px;
    border-radius: 10px;
    border: 0;
    font-size: var(--fs-m);
    padding-left: 12px;
  }
  label {
    font-size: var(--fs-m);
    font-family: var(--main-font);
    font-weight: var(--fw-b);
  }
  .fullWidth {
    width: 100%;
    margin-bottom: 10px;
  }
</style>
