---
interface Props {
  text: string;
  link: string;
  image: string;
  altText: string;
}
const { link, image, altText, text } = Astro.props;
---

<button class="menu-item" data-link={link}>
  <div class={image}></div>
  <p>{text}</p>
</button>

<script>
  const buttons = document.querySelectorAll(".menu-item");
  buttons.forEach((button) => {
    const href = button.getAttribute("data-link");
    button.addEventListener("mousedown", () => {
      window.location.href = `${href}`;
      if (sessionStorage.getItem("program-list")) {
        sessionStorage.setItem("program-title", "");
        sessionStorage.setItem("program-id", "");
        sessionStorage.setItem("program-list", "");
        sessionStorage.setItem("program-description", "");
      }
    });
    button.addEventListener("keypress", function (e) {
      if (e.key === "Enter") {
        window.location.href = `${href}`;
        if (sessionStorage.getItem("program-list")) {
          sessionStorage.setItem("program-title", "");
          sessionStorage.setItem("program-id", "");
          sessionStorage.setItem("program-list", "");
          sessionStorage.setItem("program-description", "");
        }
      }
    });
  });
</script>

<style>
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  p {
    color: var(--main-bg-color);
    font-family: var(--main-font);
    font-size: var(--fs-l);
  }
  .home-icon {
    width: 140px;
    height: 125px;
    padding: 2px;
    background-image: url(../public/assets/home-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .home-icon:hover {
    width: 150px;
    height: 125px;
    padding: 2px;
    background-image: url(../public/assets/home-filled-icon.svg);
  }
  .build-icon {
    width: 125px;
    height: 125px;
    padding: 2px;
    background-image: url(../public/assets/build-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .build-icon:hover {
    width: 125px;
    height: 125px;
    padding: 2px;
    background-image: url(../public/assets/build-filled-icon.svg);
  }
  .bookmark-icon {
    width: 93px;
    height: 121px;
    padding: 2px;
    background-image: url(../public/assets/bookmark-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bookmark-icon:hover {
    width: 93px;
    height: 121px;
    padding: 2px;
    background-image: url(../public/assets/bookmark-filled-icon.svg);
  }
  .stats-icon {
    width: 120px;
    height: 123px;
    padding: 2px;
    background-image: url(../public/assets/stats-icon2.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .stats-icon:hover {
    width: 120px;
    height: 123px;
    padding: 2px;
    background-image: url(../public/assets/stats-filled-icon.svg);
  }
  .about-us-icon {
    width: 153px;
    height: 110px;
    padding: 2px;
    background-image: url(../public/assets/about-us-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about-us-icon:hover {
    width: 153px;
    height: 110px;
    padding: 2px;
    background-image: url(../public/assets/about-us-filled-icon.svg);
  }
  .settings-icon {
    width: 111px;
    height: 121px;
    padding: 2px;
    background-image: url(../public/assets/settings-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .settings-icon:hover {
    width: 111px;
    height: 121px;
    padding: 2px;
    background-image: url(../public/assets/settings-filled-icon.svg);
  }
</style>
