---
interface Props {
  variant: string;
  cardId: string;
}
const { variant, cardId } = Astro.props;
---

<div class={variant} data-card-id={cardId}>
  <button id={`minus-${cardId}`}
    ><img src="/assets/minus-black.svg" alt="minus icon" /></button
  >
  <div><p data-total-repititions="5" id={`number-${cardId}`}></p></div>
  <button id={`plus-${cardId}`}
    ><img src="/assets/plus-black.svg" alt="plus icon" />
  </button>
</div>

<script>
  window.addEventListener("load", loadRepititionButtons);
  const repititionButtons = document.querySelectorAll(".normal-card");

  function loadRepititionButtons() {
    repititionButtons.forEach((button) => {
      const id = button.getAttribute("data-card-id");
      let repititions = 5;
      function addRepitition() {
        repititions = repititions + 5;
        document.getElementById(`number-${id}`).textContent =
          repititions.toString();
        document
          .getElementById(`number-${id}`)
          .setAttribute("data-total-repititions", repititions.toString());
      }
      function retractRepitition() {
        if (repititions > 5) {
          repititions = repititions - 5;
          document.getElementById(`number-${id}`).textContent =
            repititions.toString();
          document
            .getElementById(`number-${id}`)
            .setAttribute("data-total-repititions", repititions.toString());
        }
      }
      const cardId = button.getAttribute("data-card-id");
      document.getElementById(`number-${cardId}`).textContent =
        repititions.toString();

      document
        .getElementById(`minus-${cardId}`)
        .addEventListener("mousedown", () => {
          retractRepitition();
        });

      document
        .getElementById(`plus-${cardId}`)
        .addEventListener("mousedown", () => {
          addRepitition();
        });
    });
  }
</script>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 2px;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 37px;
      background-color: #eaeaea;
      border-radius: 8px;
    }
  }
  p {
    font-family: var(--secondary-font);
    font-size: var(--fs-m);
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 25px;
    border: 0;
    border-radius: 4px;
    background-color: #eaeaea;
    cursor: pointer;
  }
  img {
    padding: 9px 4px;
  }
  .small-card {
    > div {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      > p {
        font-size: var(--fs-s);
      }
    }
    > button {
      height: 16px;
      border-radius: 2px;
      cursor: pointer;
    }
  }
</style>
