---
interface Props {
  text: string;
  image: string;
  altText: string;
  type: string;
  klasse: string;
}
const { image, altText, text, type, klasse } = Astro.props;
---

<button class={type}>
  <img src={image} alt={altText} />
  <p>{text}{type === "toggle" && <span class={klasse} >til</span>}{type === "toggle2" && <span class={klasse} >til</span>}</p>
</button>

<style>
  button {
    width: 254px;
    height: 249px;
    padding: 60px 20px 20px 20px;
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    border: 4px solid var(--main-bg-color);
    border-radius: 10px;
  }
  .off {
    background-color: var(--alternative-bg-color);
  }
  button:hover {
    border: 4px solid var(--primary-color);
  }
  img {
    height: 88px;
    margin-bottom: 46px;
  }
  p {
    margin-top: 0;
    font-size: var(--fs-ml);
    font-family: var(--main-font);
    color: var(--primary-color);
  }
</style>
